{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Kernel View &gt; {{ block.super }}{% endblock title %}
{% block extra_head %}
<script type="text/javascript">
    /* Simple method to enable STATIC_URL in javascript files */
    var STATIC_URL = "{{ STATIC_URL|escapejs }}";
</script>
{% endblock extra_head %}

{% block content %}
{% static "kernels/jslinux/utils.js" as jslinux_utils %}
{% static "kernels/jslinux/term.js" as jslinux_term %}
{% static "kernels/js/cpux86.js" as js_cpux86 %}
{% static "kernels/js/jsxinu.js" as js_xinu %}
View: {{ object }}

<form method="get" action="{% url "kernels:delete" pk=object.pk %}">
    <input type="submit" name="delete" value="Delete" />
</form>
<hr />


<script type="text/javascript" src="{{ jslinux_utils }}"></script>
<script type="text/javascript" src="{{ jslinux_term }}"></script>
<script type="text/javascript" src="{{ js_cpux86 }}"></script>
<script type="text/javascript" src="{{ js_xinu }}"></script>

{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
    window.onload = function (e) {
        var kernel = "{% url "kernels:image" object.pk %}";
        var kernel_mem = 16 * 1024 * 1024;
        console.log("Starting", kernel, "with", kernel_mem, "bytes");
        load_pc(kernel, kernel_mem);
    }
</script>
{% endblock extra_body %}
