{% load url from future %}
<hr/>
<h2>
    {{ header }}
</h2>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            {% if show_owner %}<td>Owner</td>{% endif %}
            <th>Upload Time</th>
            <th>Access Level</th>
            <th>Checksum</th>
        </tr>
    </thead>
    <tbody>
{% for kernel in kernels %}
{% url "kernels:view" pk=kernel.pk as kernel_url %}
{% url "accounts:user-profile" pk=kernel.owner.pk as user_url %}
        <tr>
            {% if show_owner %}<td><a href="{{ user_url }}">{{ kernel.owner }}</a></td>{% endif %}
            <td><a href="{{ kernel_url }}">{{ kernel.timestamp }}</a></td>
            <td><a href="{{ kernel_url }}">{{ kernel.get_access_level_display }}</a></td>
            <td><a href="{{ kernel_url }}"><code>{{ kernel.pk }}</code></a></td>
        </tr>
{% endfor %}
{% if not kernels %}
        <tr>
            <td colspan="3"><em class="text-muted">None Available</em></td>
        </tr>
{% endif %}
    </tbody>
</table>
